<div class="container mt-5">

	<div class="text-center mt-3">
		<h2>{{this.pagination.totalCount}} matches found</h2>
	</div>

	<div class="text-center mt-3">
		<form class="form-inline text-center" #form="ngForm" (ngSubmit)="this.getUsers()" novalidate>
			<div class="form-group">
				<label for="minAge">Minimum Age </label>
				<input type="number" class="form-control ml-1" style="width: 70px" id="minimumAge" name="minimumAge" [(ngModel)]="this.filterParameters.minimumAge">
			</div>
			<div class="form-group px-2">
				<label for="maxAge">Maximum Age </label>
				<input type="number" class="form-control ml-1" style="width: 70px" id="maximumAge" name="maximumAge" [(ngModel)]="this.filterParameters.maximumAge">
			</div>
			<div class="form-group px-2">
				<label for="gender">Looking For </label>
				<select class="form-control ml-1" style="width: 130px" id="gender" name="gender" [(ngModel)]="this.filterParameters.gender">
					<option *ngFor="let genderLabel of this.genderLabels" [value]="genderLabel.value">
						{{genderLabel.display}}
					</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary" style="margin-left:10px">Find</button>
			<button type="button" class="btn btn-info" style="margin-left:10px" (click)="this.resetFilter(true)">Reset</button>
			<div class="col">
				<div class="btn-group float-right">
					<button type="button" name="orderBy" class="btn btn-primary" btnRadio="lastActiveAt" [(ngModel)]="this.filterParameters.orderBy" (click)="this.getUsers()">Last Active</button>
					<button type="button" name="orderBy" class="btn btn-primary" btnRadio="createdAt" [(ngModel)]="this.filterParameters.orderBy"  (click)="this.getUsers()">Newest</button>
				</div>
			</div>
		</form>
	</div>

	<div class="row mt-3">
		<div *ngFor="let user of this.users" class="col-lg-2 col-md-3 col-sm-6">
			<app-member-card [user]="user"></app-member-card>
		</div>
	</div>
</div>

<div class="d-flex justify-content-center">
	<pagination
		[boundaryLinks]="true"
		(pageChanged)="this.changePage($event)"
		[(ngModel)]="this.pagination.pageNumber"
		[totalItems]="this.pagination.totalCount"
		[itemsPerPage]="this.pagination.pageSize"
		previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
	</pagination>
</div>