<div class="container mt-5">
	<div class="row">
		<div class="btn-group">
			<button class="btn btn-primary" [(ngModel)]="this.filterParameters.mode" btnRadio="{{this.LikeModeSources}}" (click)="this.getUsers()">Members who like me</button>
			<button class="btn btn-primary" [(ngModel)]="this.filterParameters.mode" btnRadio="{{this.LikeModeTargets}}" (click)="this.getUsers()">Members who I like</button>
		</div>
	</div>
	<br>

	<div class="row" *ngIf="this.users.length == 0">
		<h3>No matches</h3>
	</div>

	<div class="row">
		<div *ngFor="let user of this.users" class="col-sm-6 col-md-4 col-lg-4 col-xl-2">
			<app-member-card [user]="user"></app-member-card>
		</div>
	</div>
</div>

<div class="d-flex justify-content-center">
	<pagination
		[boundaryLinks]="true"
		(pageChanged)="this.changePage($event)"
		[(ngModel)]="this.pagination.pageNumber"
		[totalItems]="this.pagination.totalCount"
		[itemsPerPage]="this.pagination.pageSize"
		previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
	</pagination>
</div>