<div class="container mt-5">

	<div class="text-center mt-3">
		<h2>Administration Panel</h2>
	</div>

	<div class="tab-panel">
		<tabset class="member-tabset" #adminTabs>
			<tab id="members" heading="Member Management" *appHasRole="['Administrator']" (select)="this.onSelectTab('members')">
			<div class="container">
				<app-member-management></app-member-management>
			</div>
			</tab>
			<tab id="pictures" heading="Picture Management" *appHasRole="['Administrator', 'Moderator']" (select)="this.onSelectTab('pictures')">
				<app-picture-management></app-picture-management>
			</tab>
		</tabset>
	</div>

</div>