<div class="container mt-5">
	<div class="row">
		<div class="col-sm-4 text-center">
			<h1>{{this.user.knownAs}}'s Profile</h1>
		</div>
		<div class="col-sm-8">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="card">
				<img class="card-img-top img-thumbnail" src="{{this.user.profilePictureUrl}}" alt="{{this.user.knownAs}}" />
				<div class="card-body">
					<div>
						<strong>Location:</strong>
						<p>{{this.user.city}}, {{this.user.country}}</p>
					</div>
					<div>
						<strong>Age:</strong>
						<p>{{this.user.age}}</p>
					</div>
					<div>
						<strong>Last Active:</strong>
						<p>{{this.datePipe.transform(this.user.lastActiveAt, 'dd-MM-yyy')}}</p>
					</div>
					<div>
						<strong>Member Since:</strong>
						<p>{{this.datePipe.transform(this.user.createdAt, 'dd-MM-yyy')}}</p>
					</div>
				</div>
				<div class="card-footer">
					<div class="btn-group d-flex">
						<button class="btn btn-primary w-100 mr-1">Like</button>
						<button class="btn btn-success w-100 ml-1">Message</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="tab-panel">
				<tabset class="member-tabset">
					<tab heading="About {{this.user.knownAs}}">
						<h4 class="mt-2">Description:</h4>
						<p>{{this.user.introduction}}</p>
						<h4 class="mt-2">Looking For:</h4>
						<p>{{this.user.lookingFor}}</p>
						<h4 class="mt-2">Interests:</h4>
						<p>{{this.user.interests}}</p>
					</tab>
					<tab heading="Pictures">
						<ngx-gallery [options]="this.galleryOptions" [images]="this.galleryImages"></ngx-gallery>
					</tab>
					<tab heading="Messages">
						<p>Messages!</p>
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</div>