<form (submit)="submit()">
	<h2 class="text-center text-primary">Sign Up</h2>
	<hr>

	<div class="form-group">
		<input type="text" class="form-control" name="username" placeholder="Username" [(ngModel)]="model.userName" required>
	</div>

	<div class="form-group">
		<input type="text" class="form-control" name="phoneNumber" placeholder="Phone Number" [(ngModel)]="model.phoneNumber" required>
	</div>

	<div class="form-group">
		<input type="email" class="form-control" name="emailAddress" placeholder="Email Address" [(ngModel)]="model.emailAddress" required>
	</div>

	<div class="form-group">
		<input type="text" class="form-control" name="knownAs" placeholder="Known As" [(ngModel)]="model.knownAs" required>
	</div>

	<div class="form-group">
		<input type="text" class="form-control" name="gender" placeholder="Gender" [(ngModel)]="model.gender" required>
	</div>

	<div class="form-group">
		<input type="date" class="form-control" name="date" placeholder="1990-01-01" [(ngModel)]="model.birthDate" required>
	</div>

	<div class="form-group">
		<input type="text" class="form-control" name="city" placeholder="City" [(ngModel)]="model.city" required>
	</div>

	<div class="form-group">
		<input type="text" class="form-control" name="country" placeholder="Country" [(ngModel)]="model.country" required>
	</div>

	<div class="form-group">
		<input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="model.password" required>
	</div>

	<div class="form-group text-center">
		<button class="btn btn-success mr-1" type="submit">Register</button>
		<button class="btn btn-default ml-1" type="button" (click)="cancel()">Cancel</button>
	</div>
</form>