<div class="container mt-5">
	<div class="row">
		<div class="col-sm-4 text-center">
			<h1>Your Profile</h1>
		</div>
		<div class="col-sm-8">
			<div *ngIf="editForm.dirty" class="alert alert-info">
				<strong>Information:</strong><br>You have unsaved changes. Any unsaved changes will be lost if you navigate to
				another page.
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="card">
				<img class="card-img-top img-thumbnail" src="{{this.profilePictureUrl}}" alt="{{this.user.knownAs}}" />
				<div class="card-body">
					<div>
						<strong>Location:</strong>
						<p>{{this.user.city}}, {{this.user.country}}</p>
					</div>
					<div>
						<strong>Age:</strong>
						<p>{{this.user.age}}</p>
					</div>
					<div>
						<strong>Last Active:</strong>
						<p>{{this.datePipe.transform(this.user.lastActiveAt, 'dd-MM-yyy')}}</p>
					</div>
					<div>
						<strong>Member Since:</strong>
						<p>{{this.datePipe.transform(this.user.createdAt, 'dd-MM-yyy')}}</p>
					</div>
				</div>
				<div class="card-footer">
					<button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block w-200">Save Changes</button>
				</div>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="tab-panel">
				<tabset class="member-tabset">
					<tab heading="Edit Profile">
						<form id="editForm" #editForm="ngForm" (ngSubmit)="updateUser()">
							<h4 class="mt-2">Description:</h4>
							<textarea name="introduction" rows="6" class="form-control" [(ngModel)]="this.user.introduction">{{this.user.introduction}}</textarea>
							<h4 class="mt-2">Looking For:</h4>
							<textarea name="lookingFor" rows="6" class="form-control" [(ngModel)]="this.user.lookingFor">{{this.user.lookingFor}}</textarea>
							<h4 class="mt-2">Interests:</h4>
							<textarea name="interests" rows="6" class="form-control" [(ngModel)]="this.user.interests">{{this.user.interests}}</textarea>
							<h4 class="mt-2">Location:</h4>
							<div class="form-inline">
								<label class="ml-2" for="city">City</label>
								<input class="form-control ml-2" type="text" name="city" [(ngModel)]="this.user.city">
								<label class="ml-2" for="country">Country</label>
								<input class="form-control ml-2" type="text" name="country" [(ngModel)]="this.user.country">
							</div>
						</form>
					</tab>
					<tab heading="Edit Pictures">
						<app-picture-editor [pictures]="this.user.pictures" (profilePictureChanges)="this.updateProfilePicture($event)"></app-picture-editor>
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</div>