.card img
{
	transform: scale(1.0, 1.0);
	transition: 500ms;
	transition-timing-function: ease-out;
	opacity: 1.0	;
}

.card:hover img
{
	transform: scale(1.2, 1.2);
	transition: 500ms;
	transition-timing-function: ease-out;
	opacity: 0.7;
}

.animate
{
	transition: all 0.3s ease-in-out;
}

.card-img-wrapper
{
	overflow: hidden;
	position: relative;
}

.card-img-wrapper .member-icons
{
	position: absolute;
	bottom: -30%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.0;
}

.card-img-wrapper:hover .member-icons
{
	bottom: 0;
	opacity: 1.0;
}