<nav class="navbar navbar-expand-md navbar-dark bg-primary">
	<div class="container">
		<a class="navbar-brand" href="#">Kindly</a>

		<ul class="navbar-nav mr-auto" *ngIf="this.isLoggedIn() === true">
			<li class="nav-item active">
				<a class="nav-link" href="#">Matches</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Lists</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Messages</a>
			</li>
		</ul>

		<div *ngIf="this.isLoggedIn() === true" class="dropdown" dropdown>
			<a class="dropdown-toggle text-light" dropdownToggle>Welcome {{this.userName | titlecase}}</a>

			<div class="dropdown-menu mt-3" *dropdownMenu>
				<a class="dropdown-item"><i class="fa fa-user"></i>Edit Profile</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" (click)="this.logOut()"><i class="fa fa-sign-out"></i>Log Out</a>
			</div>
		</div>

		<form *ngIf="this.isLoggedOut() === true" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="this.logIn()">
			<input class="form-control mr-sm-2" type="text" name="username" placeholder="Username" required [(ngModel)]="this.model.userName">
			<input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" required [(ngModel)]="this.model.password">
			<button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
		</form>
	</div>
</nav>